@import '../variables.css';
@import '../colors.css';

:root {
  --brand-color: #61dafb;
}

.root {
  background: var(--main);
  color: #fff;
}

.logo {
  background: url('../../assets/Ресурс_1001.png');
  width: 80px;
  height: 40px;
  display: inline-block;
  background-size: cover;
}

.container {
  margin: 0 auto;
  padding: 20px 0;
  max-width: var(--max-content-width);
}

.brand {
  color: white;
  text-decoration: none;
  font-size: 1.75em; /* ~28px */
}

.brandTxt {
  margin-left: 10px;
}
