@import '../variables.css';
@import '../colors.css';

.root {
  background: var(--main);
  color: #fff;
  flex-grow: 0;
}

.logo {
  background: url('../../assets/Ресурс_1001.png');
  width: 80px;
  height: 40px;
  display: inline-block;
  background-size: cover;
  margin-left: 20px;
}

.container {
  margin: 0 auto;
  padding: 20px 0;
  max-width: var(--max-content-width);
}
