@import '../variables.css';

.root {
  background: #333;
  color: #fff;
  flex-grow: 0;
}

.container {
  margin: 0 auto;
  padding: 20px 15px;
  max-width: var(--max-content-width);
  text-align: center;
}

.text {
  color: rgba(255, 255, 255, 0.5);
}

.spacer {
  color: rgba(255, 255, 255, 0.3);
}

.text {
  padding: 2px 5px;
  font-size: 1em;
}
